<!DOCTYPE html>

<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1> [[#{cliente.datos}]]</h1>    
        <a th:href="@{/cliente/listado}">[[#{accion.regresar}]]</a>
        <hr/>
        <form th:action="@{/cliente/guardar}"
              method="post"
              th:object="${cliente}">
            
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            
            <label for="nombre">[[#{cliente.nombre}]]</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/><!-- comment -->
            
            <label for="apellidos">[[#{cliente.apellidos}]]</label>
            <input type="text" name="apellidos" th:field="*{apellidos}"/>
            <br/><!-- comment -->
            
            <label for="correo">[[#{cliente.correo}]]</label>
            <input type="email" name="correo" th:field="*{correo}"/>
            <br/><!-- comment -->
            
            <label for="telefono">[[#{cliente.telefono}]]</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <br/>
            <button type="submit" th:text="#{accion.guardar}"/>

        </form>

    </body>
</html>
